.notesListContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.noteItemContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.noteDate{
    font-size: 24px;
    margin: 0;
}

.noteHr{
    width: 100%;
    margin: 0;
    border: 1px solid black;
    border-radius: 8px;
    overflow: visible;
}

.noteContent{
    font-size: 36px;
    margin: 0;
}