.container {
    background-color: #c4c3c0;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.linkActive {
    text-decoration: underline;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}
